<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.example.ecngv2">

    <uses-permission android:name="android.permission.WAKE_LOCK" />

    <uses-feature android:name="android.hardware.type.watch" />

    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.INTERNET" />

<!--    android:hardwareAccelerated="false"-->
    <application
        android:allowBackup="true"
        android:icon="@drawable/fa"
        android:largeHeap="true"
        android:label="Chợ Nhà Giàu"
        android:roundIcon="@drawable/fa"
        android:supportsRtl="true"
        android:theme="@style/Theme.MaterialComponents.Light.NoActionBar.Bridge"
        tools:replace="android:label">
        <activity android:name=".View.Voucher.VoucherActivity"></activity>
        <activity android:name=".View.OrderManager.ShippingDetailActivity" />
        <activity android:name=".View.OrderManager.OrderDetail.OrderDetailActivity" />
        <activity android:name=".View.Payment.PaymentSuccessActivity" />
        <activity android:name=".View.OrderManager.OrderManagerActivity" />
        <activity android:name=".View.User.SettingAccount.Address.AddUserAddressActivity" />
        <activity android:name=".View.User.SettingAccount.Address.EditUserAddressActivity" />
        <activity android:name=".View.User.SettingAccount.Address.UserAddressActivity" />
        <activity android:name=".View.User.SettingAccount.Profile.ChangePasswordActivity" />
        <activity android:name=".View.User.SettingAccount.Profile.UserProfileActivity" />
        <activity android:name=".View.User.SettingAccount.SettingAccountActivity" />
        <activity android:name=".View.CateDetail.CateDetailActivity" />
        <activity android:name=".View.Product.ProductImage" />
        <activity android:name=".View.Register.RegisterActivity" />
        <activity android:name=".View.ForgotPwd.ForgotPwdActivity" />
        <activity android:name=".View.Login.LoginActivity" />
        <activity android:name=".View.Shop.ShopActivity" />
        <activity android:name=".View.Payment.PaymentActivity" />
        <activity android:name=".View.Cart.CartActivity" />
        <activity android:name=".View.Product.ProductActivity" />
        <activity android:name=".View.MainActivity.MainActivity">

            <!-- <intent-filter> -->
            <!-- <action android:name="android.intent.action.MAIN" /> -->


            <!-- <category android:name="android.intent.category.LAUNCHER" /> -->
            <!-- </intent-filter> -->
        </activity>
        <activity android:name=".View.Wellcome.WellcomeActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>