<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.example.ecngv2">

    <uses-permission android:name="android.permission.WAKE_LOCK" />

    <uses-feature android:name="android.hardware.type.watch" />

    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/fa"
        android:label="Chợ Nhà Giàu"
        android:largeHeap="true"
        android:roundIcon="@drawable/fa"
        android:supportsRtl="true"
        android:theme="@style/Theme.MaterialComponents.Light.NoActionBar.Bridge"
        tools:replace="android:label">
        <activity android:name=".View.Wallet.WalletActivity"
            android:screenOrientation="portrait"/>
        <activity android:name=".View.Shop.testActivity"
            android:screenOrientation="portrait"/>
        <activity android:name=".View.RecentlyViewed.RecentlyViewedActivity"
            android:screenOrientation="portrait"/>
        <activity android:name=".View.Favorite.FavoriteActivity"
            android:screenOrientation="portrait"/>
        <activity android:name=".View.Voucher.VoucherActivity"
            android:screenOrientation="portrait"/>
        <activity android:name=".View.OrderManager.ShippingDetailActivity"
            android:screenOrientation="portrait" />
        <activity android:name=".View.OrderManager.OrderDetail.OrderDetailActivity"
            android:screenOrientation="portrait"/>
        <activity android:name=".View.Payment.PaymentSuccessActivity"
            android:screenOrientation="portrait" />
        <activity android:name=".View.OrderManager.OrderManagerActivity"
            android:screenOrientation="portrait" />
        <activity android:name=".View.Address.AddUserAddressActivity"
            android:screenOrientation="portrait" />
        <activity android:name=".View.Address.EditUserAddressActivity"
            android:screenOrientation="portrait" />
        <activity android:name=".View.Address.UserAddressActivity"
            android:screenOrientation="portrait" />
        <activity android:name=".View.UserProfile.ChangePasswordActivity"
            android:screenOrientation="portrait" />
        <activity android:name=".View.UserProfile.UserProfileActivity"
            android:screenOrientation="portrait" />
        <activity android:name=".View.CateDetail.CateDetailActivity"
            android:screenOrientation="portrait" />
        <activity android:name=".View.Product.ProductImage"
            android:screenOrientation="portrait" />
        <activity android:name=".View.Register.RegisterActivity"
            android:screenOrientation="portrait" />
        <activity android:name=".View.ForgotPwd.ForgotPwdActivity"
            android:screenOrientation="portrait" />
        <activity android:name=".View.Login.LoginActivity"
            android:screenOrientation="portrait" />
        <activity android:name=".View.Shop.ShopActivity"
            android:screenOrientation="portrait" />
        <activity android:name=".View.Payment.PaymentActivity"
            android:screenOrientation="portrait" />
        <activity android:name=".View.Cart.CartActivity"
            android:screenOrientation="portrait" />
        <activity android:name=".View.Product.ProductActivity"
            android:screenOrientation="portrait" />
        <activity android:name=".View.MainActivity.MainActivity"
            android:screenOrientation="portrait">

            <!-- <intent-filter> -->
            <!-- <action android:name="android.intent.action.MAIN" /> -->


            <!-- <category android:name="android.intent.category.LAUNCHER" /> -->
            <!-- </intent-filter> -->
        </activity>
        <activity android:name=".View.Wellcome.WellcomeActivity"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>